img{ 

width: 100%;
}
.titlee {
    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.d1{ 
    cursor: url('86bd2f56e7e3de6.png'), auto;margin-top: 40px;
    margin-bottom: 20px;
}
.d2{
    cursor: url('86bd2f56e7e3de6.png'), auto;
    margin-bottom: 20px;
}
.d3{     cursor: url('86bd2f56e7e3de6.png'), auto;
    margin-bottom: 20px;
}
.d4{     cursor: url('86bd2f56e7e3de6.png'), auto;
    margin-bottom: 20px;

}

    body {
        animation-name: backgroundColorPalette;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes backgroundColorPalette {
        0% { background-color: #ff9999; } 
        50% { background-color: #66cc99; } 
        100% { background-color: #ffcc66; } 
    }
